header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  /* background-color: rgba(34, 34, 34, .5); */
  z-index: 999;
}

header a {
  line-height: 70px;
}

header .logo-bar {
  display: inline-block;
  /* line-height: 70px; */
  margin-right: 68px;
}



header .img-inline {
  height: 50px;
  vertical-align: middle;
}

header h1 {
  display: inline-block;
  margin-left: 16px;
  vertical-align: middle;
  font-size: 24px;
  font-weight: bold;
  font-family: 'Microsoft YaHei';
  letter-spacing: 2px;
  color: #fff;
}


header .menu {
  margin: 0;
  font-size: 0;
}

header .menu li {
  display: inline-block;
  padding: 0 10px;
  /* text-align: center; */
  position: relative;
  transition: 200ms;
  cursor: pointer;
}

header .menu li a, header .drop-row span{
  font-weight: bold;
  font-size: 14px;
  color: #fff;
  line-height: 70px;
}

header .menu li:hover a, header .drop-row:hover span{
  font-weight: normal;
  color: #0081f0;
}

header .menu .item::after {
  content: "";
  position: absolute;
  left: 100%;
  right: 0;
  bottom: 0;
  height: 4px;
  border-radius: 2px;
  background-color: #0081f0;;
  transition: all 0.3s;
}

header .menu .item:hover::after {
  left: 0;
}

.flex-inline {
  display: flex;
  justify-content: space-between;
}


header .drop-row .drop-list {
  display: block;
  position: absolute;
  box-sizing: border-box;
  z-index: 1000;
  /* padding: 5px 0; */
  background-color: #fff;
  text-align: center;
  width: 80px;
  left: 10px;
  height: 0;
  overflow: hidden;
  top: 50px;
  border-radius: 4px;
  transition: 0.2s;
}

header .drop-row .drop-list li {
  position: relative;
  box-sizing: border-box;
  width: 100%;
}


header .drop-list li a {
  line-height: 40px;
}

header .drop-row:hover .drop-list {
  display: block;
  padding: 5px 0;
  height: auto;
}


header .drop-row:hover .drop-list a {
  color: #000000;
  background-color: transparent;
}

header .drop-row .drop-list li:hover {
  background-color: #0081f0;
}

header .drop-row .drop-list li:hover a{
  color: #fff;
}

header .submenu .submenu-item {
  display: inline-block;
  padding: 0 12px;
}

header .submenu .submenu-item a{
  font-size: 12px;
  font-weight: bold;
  /* padding: 0 12px; */
  color: #fff;
  transition: 0.2s;
  vertical-align: middle;
}

header .submenu span {
  display: inline-block;
  width: 1px;
  height: 1.2em;
  vertical-align: middle;
  background-color: #4a5566;;
}

header .submenu .submenu-item:hover a {
  font-weight: normal;
  color: #0081f0;
}

header .submenu .scan {
  position: relative;
  cursor: pointer;
}

header .submenu .scan .scan-phone {
  width: 10px;
  height: 18px;
  vertical-align: middle;
}

header .submenu .scan .qrcode {
  display: none;
  position: absolute;
  top: 33px;
  right: -15px;
  padding: 8px;
  background-color: #fff;
  border: 2px solid  #ccc;
  border-radius: 2px;
}

header .submenu .scan:hover .qrcode {
  display: block;
}


header .submenu .qrcode img {
  height: 164px;
  width: 164px;
}

header .submenu .qrcode::before {
  content: "";
  position: absolute;
  height: 0;
  right: 8px;
  top: -22px;
  border: 10px solid transparent;
  border-bottom-color: #ccc
}

header .submenu .qrcode::after {
  content: "";
  position: absolute;
  height: 0;
  right: 8px;
  top: -19px;
  border: 10px solid transparent;
  border-bottom-color: #fff;
}

header .qrcode p {
  font-size: 12px;
  color: #666;
  text-align: center;
  margin-top: 2px;
}